@font-face{
    font-family: 'DanScr-Reg';
    src: url("../fonts/DancingScript-Regular.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'DanScr-B';
    src: url("../fonts/DancingScript-Bold.woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: 'Leiko-Reg';
    src: url("../fonts/Leiko-Regular.otf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}